docker.enabled = true
process {
  container = 'cbreuer/fastq_quality_control:latest'
  
  # run the Docker container with your own host user ID (UID) and group ID (GID) instead of Docker’s default root user. This prevents docker from writing files with publishDir as root
  containerOptions = '-u $(id -u):$(id -g)'
}
aws.batch.cliPath = '/usr/local/bin/aws'